/* NavBar */
.navbar {
    align-items: center
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
#mainNav {
    border-bottom: 1px solid rgba(33,37,41,.1);
    background-color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .2s;
    transition: all .2s
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #f05f40;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif
}

#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover {
    color: #f05f40
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #f05f40
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #f05f40!important;
    background-color: transparent
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent
}
@media (min-width: 992px) {
    #mainNav {
        border-color:transparent;
        background-color: transparent
    }

    #mainNav .navbar-brand {
        color: rgba(255,255,255,.7)
    }

    #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover {
        color: #fff
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: .5rem 1rem
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255,255,255,.7)
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #fff
    }

    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33,37,41,.1);
        background-color: #fff
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #f05f40
    }

    #mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #212529
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #f05f40
    }
}
/* Dashboard Boxes */
#bio {
    display: table;
    background: linear-gradient(rgba(20, 20, 20, .5),
        rgba(20, 20, 20, .5)),
        url("../images/dash/bio.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#blog {
    display: table;
    background: linear-gradient(rgba(20, 20, 20, .5),
        rgba(20, 20, 20, .5)),
        url("../images/dash/blog.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#proyectos {
    display: table;
    background: linear-gradient(rgba(20, 20, 20, .5),
        rgba(20, 20, 20, .5)),
        url("../images/dash/proyectos.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#CV {
    display: table;
    background: linear-gradient(rgba(20, 20, 20, .5),
        rgba(20, 20, 20, .5)),
        url("../images/dash/cv.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#dash-center {
    display: table;
    background-image: url("../images/dash/dash-center.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerTitle {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.headerTitle h2 {
    font-weight: bolder;
}

.dash-center-name {
    color: white;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-weight: bolder;
}

/* MISC */
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.section-heading {
    margin-top: 0;
}

section {
    display: block;
}

header {
    display: block;
}